{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Superb premium HTML5 &amp; CSS3 template</title>
{% endblock %}

{% block icon %}
<link rel="icon" href="http://demo.magikthemes.com/skin/frontend/base/default/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="http://demo.thmthemes.com/skin/frontend/base/default/favicon.ico" type="image/x-icon" />
{% endblock %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blogmate.css' %}">
{% endblock %}

<body class="blogmate-index-index rtl inner-page">
  <div id="page">




    <!-- Main Container -->

    {% block content %}
    <section class="main-container col2-right-layout bounceInUp animated">
      <div class="main container">
        <div class="row">
          <div class="col-main col-sm-9">

            <div class="blog-wrapper latest-blog" id="main">
              <div class="site-content" id="primary">
                <div role="main" id="content">
                  <div class="blog_post">
                    <div class="thumbnail">
                      <h2> <a href="#">{{ blog.header }}</a> </h2>
                      <div class="featured-img">
                        <span class="gradient-overlay"></span>
                        <img src="{{ blog.image.url }}" alt="blog post">

                      </div>

                    </div>
                    <div class="entry-meta">
                      <a href="#">
                        <span class="author-avatar byline"><img alt="" src="{% static 'images/admin-photo.jpg' %}"
                            class="avatar avatar-96 photo">By {{blog.user.first_name}} {{blog.user.last_name}}</span> <span class="timestamp">{{ blog.created_at|date:"F d, Y" }}</span>
                      </a>
                    </div>
                    <div class="entry-content">
                      <p>{{ blog.description|safe }}</p>
                    </div>

                  </div>
                  <div class="comment-content wow bounceInUp animated">
                    <div class="comments-wrapper">
                      <h3> Comments </h3>
                      <ul class="commentlist">
                        {% for comment in comments %}
                        {% if comment.user %}
                        <li class="comment">
                          <div class="comment-wrapper">
                            <div class="comment-author vcard">
                              <p class="gravatar"><a href="#"><img width="60" height="60" alt="avatar"
                                    src="{{ comment.user.image.url }}"></a></p>
                              <span class="author">{{ comment.user.username|title }}</span>
                            </div>
                            <div class="comment-meta">
                              <time datetime="2014-07-10T07:26:28+00:00" class="entry-date">{{ comment.created_at|date:"l d, Y, H i a" }}</time>
                            </div>
                            <div class="comment-body"> {{ comment.comment }} </div>
                          </div>
                        </li>
                        {% else %}
                        <li class="comment">
                          <div class="comment-wrapper">
                            <div class="comment-author vcard">
                              <span class="author">{{ comment.name }}</span>
                            </div>
                            <div class="comment-meta">
                              <time datetime="2014-07-10T07:26:28+00:00" class="entry-date">{{ comment.created_at|date:"l d, Y, H i a" }}</time>
                            </div>
                            <div class="comment-body"> {{ comment.comment }} </div>
                          </div>
                        </li>
                        {% endif %}
                        {% empty %}
                          <li class="comment-body">This blog does not have comment yet.</li>
                        {% endfor %}
                        
                      </ul>
                      <!--commentlist-->
                    </div>
                    <!--comments-wrapper-->

                    <div class="comments-form-wrapper clearfix">
                      <h3>Leave A reply</h3>
                      <form class="comment-form" method="POST" id="postComment">
                        {% csrf_token %}
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if user.is_authenticated %}
                          <div class="field aw-blog-comment-area">
                              {{ form.comment }}
                          </div>
                          {% else %}
                          <div class="field">
                            <label>Name<em class="required">*</em></label>
                            {{ form.name }}
                          </div>
                          <div class="field">
                          <label>Email<em class="required">*</em></label>
                          {{ form.email }}
                          </div>
                          <div class="field aw-blog-comment-area">
                            {{ form.comment }}
                          </div>
                        {% endif %}
                        <div style="width:96%" class="button-set">
                          <input type="hidden" value="1" name="blog_id">
                          <button type="submit" class="bnt-comment"><span><span>Add Comment</span></span></button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
    </section>
    <!-- Brand logo starts  -->

    <!-- Brand logo ends  -->
    {% endblock %}
    <!-- Main Container End -->
  </div>
  {% block js %}
  <script type="text/javascript" src="{% static 'js/parallax.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.flexslider.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/cloud-zoom.js' %}"></script>
  {% endblock %}
</body>

</html>