{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Superb, premium HTML5 &amp; CSS3 template</title>
{% endblock %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/internal.css' %}">
{% endblock %}

<body class="customer-account-login inner-page">
  <div id="page">

    {% block content %}
    <!-- Main Container -->
    <section class="main-container col1-layout bounceInUp animated">
      <div class="main container">
        <div class="account-login">
          <div class="page-title">
            <h1>Login or Create an Account</h1>
            {% if messages %}
            <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="alert-{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
          </div>
          <fieldset class="col2-set">
            <legend>Login or Create an Account</legend>
            <div class="col-1 new-users"><strong>New Customers</strong>
              <div class="content">
                <p>By creating an account with our store, you will be able to move through the checkout process faster,
                  store multiple shipping addresses, view and track your orders in your account and more.</p>
                <div class="buttons-set">
                  <a href="{% url 'register' %}"><button class="button create-account"><span>Create an Account</span></button></a>
                </div>
              </div>
            </div>
            <div class="col-2 registered-users"><strong>Registered Customers</strong>
              <div class="content">
                <p>If you have an account with us, please log in.</p>
                <form action="{% url 'login' %}" method="POST" id="login-form">
                  {% csrf_token %}
                  {% for field in form %}
                  <ul class="form-list">
                    <li>
                      {{ field }}
                      {{ field.errors }}
                    </li>
                  </ul>
                  {% endfor %}
                  <p class="required">* Required Fields</p>
                  <div class="container">
                    <a href="{% url 'social:begin' 'facebook' %}" class="social"><i class="fa fa-facebook social-login" style="font-size: 24px; color: #0D8BF0;"></i></a>
                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="social"><i class="fa fa-google-plus social-login" style="font-size: 24px; color: rgb(243, 4, 4);"></i></a>
                  </div>
                  <div class="buttons-set">
                    <button id="send2" name="" type="submit" class="button login"><span>Login</span></button>
                    <a class="forgot-word" href="{% url 'reset_password' %}">Forgot Your Password?</a>
                  </div>
                </form>
              </div>
            </div>
          </fieldset>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </section>
    <!-- Main Container End -->
    {% endblock %}

  </div>
  {% block footer %}
  {% endblock %}

  {% block js %}
  <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/parallax.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.flexslider.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/cloud-zoom.js' %}"></script>
  {% endblock %}
</body>

</html>