{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
<title>Superb, premium HTML5 &amp; CSS3 template</title>
{% endblock %}


<body class="inner-page">
  <div id="page">

    {% block content %}
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ul class="breadcrumb">
              <li><a href="{% url 'product_list' %}?category={{ version.product.category.parent.parent.name }}">{{ version.product.category.parent.parent.name }}</a></li>
              <li><a href="{% url 'product_list'%}?category={{ version.product.category.parent.name }}">{{ version.product.category.parent.name }}</a></li>
              <li><a href="{% url 'product_list'%}?category={{ version.product.category.name }}">{{ version.product.category.name }}</a></li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumbs End -->
    <!-- Main Container -->
    <section class="main-container col1-layout wow bounceInUp animated">
      <div class="main container">
        <div class="col-main">
          <div class="row">
            <div class="product-view">
              <div class="product-next-prev"> <a class="product-next" href="#"><span></span></a> <a class="product-prev"
                  href="#"><span></span></a> </div>
              <div class="product-essential">
                <form action="#" method="post" id="product_addtocart_form">
                  <input name="form_key" value="6UbXroakyQlbfQzK" type="hidden">
                  <div class="product-img-box col-sm-4 col-xs-12">
                    <div class="new-label new-top-left"> New </div>
                    <div class="product-image">
                      <div class="large-image"> <a href="{{ version.images.first.image.url }}" class="cloud-zoom"
                          id="zoom1"> <img style="width: 390px; height: 390px;"
                            src="{{ version.images.first.image.url }}" alt="product image"> </a>
                      </div>
                      <div class="flexslider flexslider-thumb">
                        <ul class="previews-list slides">
                          {% for image in version.images.all %}
                          <li><a href="{{ image.image.url }}" class='cloud-zoom-gallery'
                              rel="useZoom: 'zoom1', smallImage:' {{ image.image.url }}'"><img
                                style="width: 76px; height: 76px;" src="{{ image.image.url }}" alt="Thumbnail 1" /></a>
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                    <!-- end: more-images -->
                  </div>
                  <div class="product-shop col-sm-8 col-xs-12">
                    <div class="product-name">
                      <h1>{{ version.product.brand.name }} {{ version.color.name }} {{ version.product.name }}</h1>
                    </div>
                    <div class="ratings">
                      <div class="rating-box">
                        <div style="width:{{ version.raiting }}%" class="rating"></div>
                      </div>
                      <p class="rating-links"> <a href="#">{{ version.reviews.all|length }} Review(s)</a>
                    </div>
                    <div class="price-block">
                      {% if version.sell_price != version.product.price %}
                      <div class="price-box">
                        <p class="special-price"> <span class="price-label">Special Price</span> <span
                            id="product-price-48" class="price"> ${{version.sell_price}}</span> </p>
                        <p class="old-price"> <span class="price-label">Regular Price:</span>
                          <span class="price">${{version.product.price}} </span>
                        </p>
                      </div>
                      {% else %}
                      <p class="special-price"> <span class="price-label">Special Price</span>
                        <span id="product-price-48" class="price"> ${{version.sell_price}}</span>
                      </p>
                      {% endif %}

                      <p class="availability in-stock pull-right"><span>In Stock</span></p>
                    </div>
                    <div class="short-description">
                      <h2>Quick Overview</h2>
                      <p> {{ version.description|slice:"11" }} </p>
                    </div>
                    <div class="add-to-box">
                      <div class="add-to-cart">
                        <div class="pull-left">
                        <button  value="{{ version.id }}" class="button btn-cart" title="Add to Cart"
                          type="button"><span>Add to Cart</span></button>
                      </div>
                      <div class="email-addto-box">
                        <p class="email-friend"><a href="#" class=""><span>Email to a Friend</span></a></p>
                        <ul class="add-to-links">
                          <li> <a class="link-wishlist" href="" id="add-to-wishlist" value="{{ version.id }}"><span>Add to Wishlist</span></a></li>
                          <li><span class="separator">|</span> <a class="link-compare" href="#"><span>Add to
                                Compare</span></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <br>
                    <div>
                      <h5>Sizes:</h5>
                      {% for size in version.details.all %}
                        <button type="button" class="btn btn-outline-dark versionsizes" value="{{ size.size.id }}">{{ size.size.name }}</button>
                      {% endfor %}
                    </div>
                  </div>
                </form>
              </div>
              <div class="product-collateral col-lg-12 col-sm-12 col-xs-12 bounceInUp animated">
                <div class="add_info">
                  <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                    <li class="active"> <a href="#product_tabs_description" data-toggle="tab"> Product Description </a>
                    </li>
                    <li> <a href="#reviews_tabs" data-toggle="tab">Reviews</a> </li>
                  </ul>
                  <div id="productTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="product_tabs_description">
                      <div class="std">
                        <p> {{ version.description }} </p>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="reviews_tabs">
                      <div class="box-collateral box-reviews" id="customer-reviews">
                        <div class="box-reviews1">
                          {% if user.is_authenticated %}
                          <div class="form-add">
                            <form id="review-form" method="POST">
                              {% csrf_token %}
                              <h3>Write Your Own Review</h3>
                              <fieldset>
                                <h4>How do you rate this product? <em class="required">*</em></h4>
                                {% if messages %}
                                <ul class="messages">
                                  {% for message in messages %}
                                  <li{% if message.tags %} class="alert-{{ message.tags }}" {% endif %}>{{ message }}
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                <span id="input-message-box"></span>
                                <table id="product-review-table" class="data-table">

                                  <thead>
                                    <tr class="first last">
                                      <th>&nbsp;</th>
                                      <th><span class="nobr">1 *</span></th>
                                      <th><span class="nobr">2 *</span></th>
                                      <th><span class="nobr">3 *</span></th>
                                      <th><span class="nobr">4 *</span></th>
                                      <th><span class="nobr">5 *</span></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr class="first odd">
                                      <th>Price</th>
                                      <td class="value">
                                        {{ form.price.0.tag }}
                                      </td>
                                      <td class="value">
                                        {{ form.price.1.tag }}
                                      </td>
                                      <td class="value">
                                        {{ form.price.2.tag }}
                                      </td>
                                      <td class="value">
                                        {{ form.price.3.tag }}
                                      </td>
                                      <td class="value">
                                        {{ form.price.4.tag }}
                                      </td>

                                    </tr>
                                    <tr class="even">
                                      <th>Value</th>
                                      <td class="value">
                                        {{ form.value.0.tag }}
                                      </td>
                                      <td class="value">
                                        {{ form.value.1.tag }}
                                      </td>
                                      <td class="value">
                                        {{ form.value.2.tag }}
                                      </td>
                                      <td class="value">
                                        {{ form.value.3.tag }}
                                      </td>
                                      <td class="value">
                                        {{ form.value.4.tag }}
                                      </td>
                                    </tr>

                                    <tr class="last odd">
                                      <th>Quality</th>
                                      <td class="value">
                                        {{ form.quality.0.tag }}
                                      </td>
                                      <td class="value">
                                        {{ form.quality.1.tag }}
                                      </td>
                                      <td class="value">
                                        {{ form.quality.2.tag }}
                                      </td>
                                      <td class="value">
                                        {{ form.quality.3.tag }}
                                      </td>
                                      <td class="value">
                                        {{ form.quality.4.tag }}
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <input type="hidden" value="" class="validate-rating" name="validate_rating">
                                <div class="review1">
                                  <ul class="form-list">
                                    <li>
                                      <label class="required" for="summary_field">Summary<em>*</em></label>
                                      <div class="input-box">
                                        {{ form.summary }}
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                                <div class="review2">
                                  <ul>
                                    <li>
                                      <label class="required " for="review_field">Review<em>*</em></label>
                                      <div class="input-box">
                                        {{ form.review }}
                                      </div>
                                    </li>
                                  </ul>
                                  <div class="buttons-set">
                                    <button class="button submit" title="Submit Review" type="submit"><span>Submit
                                        Review</span></button>
                                  </div>
                                </div>
                              </fieldset>
                            </form>
                            {% else %}
                            <h4> You have to login to write a comment to the product </h4>
                            {% endif %}
                          </div>
                        </div>
                        <div class="box-reviews2">
                          <h3>Customer Reviews</h3>
                          <div class="box visible">
                            <ul>
                              {% for review in reviews %}
                              <li>
                                <table class="ratings-table">
                                  <colgroup>
                                    <col width="1">
                                    <col>
                                  </colgroup>
                                  <tbody>
                                    <tr>
                                      <th>Value</th>
                                      <td>
                                        <div class="rating-box">
                                          <div class="rating" style="width:{{ review.get_value_display }}%;"></div>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <th>Quality</th>
                                      <td>
                                        <div class="rating-box">
                                          <div class="rating" style="width:{{ review.get_quality_display }}%;"></div>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <th>Price</th>
                                      <td>
                                        <div class="rating-box">
                                          <div class="rating" style="width:{{ review.get_price_display }}%;"></div>
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <div class="review">
                                  <h6><a href="#">{{ review.summary }}</a></h6>
                                  Review by <span>{{ review.user.get_full_name }} </span>on {{
                                  review.created_at|date:"M/d/Y" }}
                                  <div class="review-txt"> {{ review.description }}</div>
                                </div>
                              </li>
                              {% endfor %}
                            </ul>
                          </div>
                          <!-- <div class="actions"> <a class="button view-all" id="revies-button" href="#"><span><span>
                            View all</span></span></a> </div> -->
                        </div>
                        <div class="clear"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Main Container End -->

    <!-- Related Products Slider -->
    <section class="related-pro wow bounceInUp animated">
      <div class="container">
        <div class="slider-items-products">
          <div class="new_title center">
            <h2>Related Products</h2>
          </div>
          <div id="related-products-slider" class="product-flexslider hidden-buttons">
            <div class="slider-items slider-width-col4 products-grid">
              {% for related in relateds %}
              <div class="item">
                <div class="item-inner">
                  <div class="item-img">
                    <div class="item-img-info"><a href="{% url 'product_detail' related.slug %}"
                        title="{{ related.product.brand.name }} {{ related.product.name }} {{ related.color.name }}"
                        class="product-image"><img style="width: 220px; height: 220px;" src="{{ related.images.first.image.url }}"
                          alt="{{ related.product.brand.name }} {{ related.product.name }} {{ related.color.name }}"></a>

                      <div class="actions">
                        <div class="quick-view-btn"><a href="#" data-toggle="tooltip" data-placement="right" title=""
                            data-original-title="Quick View"> <span>Quick View</span></a></div>
                        <div value="{{ related.id }}" class="link-wishlist"><a  data-toggle="tooltip" data-placement="right" title=""
                            data-original-title="Wishlist"><span>Add to Wishlist</span></a></div>
                        <div class="link-compare"><a href="#" data-toggle="tooltip" data-placement="right" title=""
                            data-original-title="Compare"><span>Add to Compare</span></a></div>
                        <div class="add_cart">
                          <button class="button btn-cart" type="button" data-toggle="tooltip" data-placement="right"
                            title="" data-original-title="Add to Cart"><span>Add to Cart</span></button>
                        </div>
                      </div>
                      <div class="rating">
                        <div class="ratings">
                          <div class="rating-box">
                            <div class="rating" style="width:{{ related.rating }}%"></div>
                          </div>
                          <p class="rating-links"><a href="#">1 Review(s)</a> <span class="separator">|</span> <a
                              href="#">Add Review</a> </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title"><a href="{% url 'product_detail' related.slug %}" title="Retis lapen casen">{{ related.product.brand.name }}
                        {{ related.product.name }} {{ related.color.name }}</a> </div>
                      <div class="item-content">
                        <div class="item-price">
                          <div class="price-box"><span class="regular-price"><span class="price">${{ related.sell_price }}</span> </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Related Products Slider End -->

    {% endblock %}

  </div>
  {% block footer %}

  {% endblock %}


  {% block js %}
  <script type="text/javascript" src="{% static 'js/wishlist.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/basket.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/parallax.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.flexslider.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/cloud-zoom.js' %}"></script>
  {% endblock %}
</body>

</html>