{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Superb, premium HTML5 &amp; CSS3 template</title>
{% endblock %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.bxslider.css' %}">
{% endblock %}


<body class="inner-page">
  <div id="page">

    {% block content %}
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">

            <ul class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li><a href="#">Vehicles</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumbs End -->
    <!-- Main Container -->

    <section class="main-container col2-left-layout bounceInUp animated">
      <div class="container">

        <div class="row">
          <div class="col-main col-sm-9 col-sm-push-3">
            <div class="category-image"><img title="Sofas " alt="Sofas "
                src="{% static 'images/category-banner.jpg' %}"> </div>
            <article class="col-main">
              <div class="page-title">
                <h1>Tops & Tees</h1>
              </div>

              <div class="toolbar">
                <div class="sorter">
                  <div class="view-mode"> <a href="grid.html" title="Grid" class="button button-grid">&nbsp;</a>&nbsp;
                    <span title="List" class="button button-active button-list">&nbsp;</span>&nbsp; </div>
                </div>
                <div id="sort-by">
                  <label class="left">Sort By: </label>
                  <ul>
                    <li><a href="#">Position<span class="right-arrow"></span></a>
                      <ul>
                        <li><a href="#">Name</a></li>
                        <li><a href="#">Price</a></li>
                        <li><a href="#">Position</a></li>
                      </ul>
                    </li>
                  </ul>
                  <a class="button-asc left" href="#" title="Set Descending Direction"><span
                      class="top_arrow"></span></a>
                </div>
                <div class="pager">
                  <div id="limiter">
                    <label>View: </label>
                    <ul>
                      <li><a href="#">15<span class="right-arrow"></span></a>
                        <ul>
                          <li><a href="#">20</a></li>
                          <li><a href="#">30</a></li>
                          <li><a href="#">35</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="pages">
                    <label>Page:</label>
                    <ul class="pagination">
                      <li><a href="#">&laquo;</a></li>
                      <li class="active"><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#">5</a></li>
                      <li><a href="#">&raquo;</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="category-products">
                <ol class="products-list" id="products-list">
                  <li class="item first">
                    <div class="product-image"> <a href="#" title="HTC Rhyme Sense"> <img class="small-image"
                          src="{% static 'products-images/product.jpg' %}" alt="HTC Rhyme Sense"> </a> </div>
                    <div class="product-shop">
                      <h2 class="product-name"><a href="#/htc-rhyme-sense.html" title="HTC Rhyme Sense">HTC Rhyme
                          Sense</a></h2>
                      <div class="ratings">
                        <div class="rating-box">
                          <div style="width:50%" class="rating"></div>
                        </div>
                        <p class="rating-links"> <a href="#/review/product/list/id/167/category/35/">1 Review(s)</a>
                          <span class="separator">|</span> <a href="#review-form">Add Your Review</a> </p>
                      </div>
                      <div class="desc std">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est
                          tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo
                          gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla... <a
                            class="link-learn" title="" href="#">Learn More</a> </p>
                      </div>
                      <div class="price-box">

                        <p class="special-price"> <span class="price-label"></span> <span class="price"> $222.99 </span>
                        </p>
                        <p class="old-price"> <span class="price-label"></span> <span class="price"> $442.99 </span>
                        </p>
                      </div>
                      <div class="actions">
                        <button class="button btn-cart ajx-cart" title="Add to Cart" type="button"><span>Add to
                            Cart</span></button>
                        <span class="add-to-links"> <a title="Add to Wishlist" class="button link-wishlist"
                            href="#"><span>Add to Wishlist</span></a> <a title="Add to Compare"
                            class="button link-compare" href="#"><span>Add to Compare</span></a> </span>
                      </div>
                    </div>
                  </li>
                </ol>
              </div>
            </article>
            <!--	///*///======    End article  ========= //*/// -->
          </div>
          <div class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9">
            <aside class="col-left sidebar">
              <div class="side-nav-categories">
                <div class="block-title"> Categories </div>
                <!--block-title-->
                <!-- BEGIN BOX-CATEGORY -->
                <div class="box-content box-category">
                  <ul>
                    <li> <a class="active" href="#/women.html">Women</a> <span class="subDropdown minus"></span>
                      <ul class="level0_415" style="display:block">
                        <li> <a href="#/women/tops.html"> Handbags </a> <span class="subDropdown plus"></span>
                          <ul class="level1" style="display:none">
                            <li> <a href="#/women/tops/evening-tops.html"> Clutch Handbags </a> </li>
                            <li> <a href="#/women/tops/shirts-blouses.html"> Diaper Bags </a> </li>
                            <li> <a href="#/women/tops/tunics.html"> Back Bags </a> </li>
                            <li> <a href="#/women/tops/vests.html"> Hobo handbags </a> </li>
                            <!--end for-each -->
                          </ul>
                          <!--level1-->
                        </li>
                        <!--level1-->
                        <li> <a href="#/women/bags.html"> Jackets </a> <span class="subDropdown plus"></span>
                          <ul class="level1" style="display:none">
                            <li> <a href="#/women/bags/bags.html"> Bags </a> </li>
                            <li> <a href="#/women/bags/designer-handbags.html"> Designer Handbags </a> </li>
                            <li> <a href="#/women/bags/purses.html"> Purses </a> </li>
                            <li> <a href="#/women/bags/shoulder-bags.html"> Shoulder Bags </a> </li>
                            <!--end for-each -->
                          </ul>
                          <!--level1-->
                        </li>
                        <!--level1-->
                        <li> <a href="#/women/shoes.html"> Shoes </a> <span class="subDropdown plus"></span>
                          <ul class="level1" style="display:none">
                            <li> <a href="#/women/shoes/flat-shoes.html"> Flat Shoes </a> </li>
                            <li> <a href="#/women/shoes/flat-sandals.html"> Flat Sandals </a> </li>
                            <li> <a href="#/women/shoes/boots.html"> Boots </a> </li>
                            <li> <a href="#/women/shoes/heels.html"> Heels </a> </li>
                            <!--end for-each -->
                          </ul>
                          <!--level1-->
                        </li>
                        <!--level1-->
                        <li> <a href="#/women/Jewellery.html"> Jewellery </a>
                          <ul class="level1" style="display:none">
                            <li> <a href="#/women/Jewellery/bracelets.html"> Bracelets </a> </li>
                            <li> <a href="#/women/Jewellery/necklaces-pendants.html"> Necklaces &amp; Pendants </a>
                            </li>
                            <li> <a href="#/women/Jewellery/pins-brooches.html"> Pins &amp; Brooches </a> </li>
                            <!--end for-each -->
                          </ul>
                          <!--level1-->
                        </li>
                        <!--level1-->
                        <li> <a href="#/women/dresses.html"> Dresses </a> <span class="subDropdown plus"></span>
                          <ul class="level1" style="display:none">
                            <li> <a href="#/women/dresses/casual-dresses.html"> Casual Dresses </a> </li>
                            <li> <a href="#/women/dresses/evening.html"> Evening </a> </li>
                            <li> <a href="#/women/dresses/designer.html"> Designer </a> </li>
                            <li> <a href="#/women/dresses/party.html"> Party </a> </li>
                            <!--end for-each -->
                          </ul>
                          <!--level1-->
                        </li>


                        <!--level1-->
                        <li> <a href="#/women/swimwear.html"> Swimwear </a> <span class="subDropdown plus"></span>
                          <ul class="level1" style="display:none">
                            <li> <a href="#/women/swimwear/swimsuits.html"> Swimsuits </a> </li>
                            <li> <a href="#/women/swimwear/beach-clothing.html"> Beach Clothing </a> </li>
                            <li> <a href="#/women/swimwear/bikinis.html"> Bikinis </a> </li>
                            <!--end for-each -->
                          </ul>
                          <!--level1-->
                        </li>
                        <!--level1-->
                      </ul>
                      <!--level0-->
                    </li>
                  </ul>
                </div>
                <!--box-content box-category-->
              </div>
              <div class="block block-layered-nav">
                <div class="block-title">Shop By</div>
                <div class="block-content">
                  <p class="block-subtitle">Shopping Options</p>
                  <dl id="narrow-by-list">
                    <dt class="odd">Price</dt>
                    <dd class="odd">
                      <ol>
                        <li> <a href="#"><span class="price">$0.00</span> - <span class="price">$199.99</span></a> (6)
                        </li>
                        <li> <a href="#"><span class="price">$200.00</span> and above</a> (6) </li>
                      </ol>
                    </dd>
                    <dt class="even">Manufacturer</dt>
                    <dd class="even">
                      <ol>
                        {% for brand in brands %}
                          <li> <a href="#">{{ brand.name }}</a></li>
                        {% endfor %}
                      </ol>
                    </dd>
                    <dt class="odd">Color</dt>
                    <dd class="odd">
                      <ol>
                        {% for color in colors %}
                          <li> <a href="#">{{ color.name }}</a></li>
                        {% endfor %}
                      </ol>
                    </dd>
                    <dt class="last even">Size</dt>
                    <dd class="last even">
                      {% for size in sizes %}
                          <li> <a href="#">{{ size.name }}</a></li>
                        {% endfor %}
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="block block-cart">
                <div class="block-title ">My Cart</div>
                <div class="block-content">
                  <div class="summary">
                    <p class="amount">There are <a href="#">2 items</a> in your cart.</p>
                    <p class="subtotal"> <span class="label">Cart Subtotal:</span> <span class="price">$49.99</span>
                    </p>
                  </div>
                  <div class="ajax-checkout">
                    <button class="button button-checkout" title="Submit" type="submit"><span>Checkout</span></button>
                  </div>
                  <p class="block-subtitle">Recently added item(s) </p>
                  <ul>
                    <li class="item"> <a href="#" title="Retis lapen casen" class="product-image"><img
                          src="{% static 'products-images/product.jpg' %}" alt="Fisher-Price Bubble Mower"></a>
                      <div class="product-details">
                        <div class="access"> <a href="#" title="Remove This Item" class="btn-remove1"> <span
                              class="icon"></span> Remove </a> </div>
                        <strong>1</strong> x <span class="price">$19.99</span>
                        <p class="product-name"> <a href="#">Office Colored Ladies Shirt</a> </p>
                      </div>
                    </li>
                    <li class="item last"> <a href="#" title="Retis lapen casen" class="product-image"><img
                          src="{% static 'products-images/product.jpg' %}" alt="Prince Lionheart Jumbo Toy Hammock"></a>
                      <div class="product-details">
                        <div class="access"> <a href="#" title="Remove This Item" class="btn-remove1"> <span
                              class="icon"></span> Remove </a> </div>
                        <strong>1</strong> x <span class="price">$8.00</span>
                        <p class="product-name"> <a href="#">Office Colored Ladies Shirt</a> </p>

                        <!--access clearfix-->
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="block block-list block-viewed">
                <div class="block-title"> Recently Viewed </div>
                <div class="block-content">
                  <ol id="recently-viewed-items">
                    <li class="item odd">
                      <p class="product-name"><a href="#"> Retis lapen casen</a></p>
                    </li>
                    <li class="item even">
                      <p class="product-name"><a href="#"> Retis lapen casen</a></p>
                    </li>
                    <li class="item last odd">
                      <p class="product-name"><a href="#"> Retis lapen casen</a></p>
                    </li>
                  </ol>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </section>
    <!-- Main Container End -->

    {% endblock %}

  </div>
  {% block footer %}
  <div id="mobile-menu">
    <ul>
      <li>
        <div class="mm-search">
          <form id="search_mob" name="search">
            <div class="input-group">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i> </button>
              </div>
              <input type="text" class="form-control simple" placeholder="Search ..." name="srch-term" id="srch-term">
            </div>
          </form>
        </div>
      </li>
      <li>
        <div class="home"><a href="#"><i class="icon-home"></i>Home</a> </div>
      </li>
      <li><a href="#">Women</a>
        <ul>
          <li> <a href="#" class="">Stylish Bag</a>
            <ul>
              <li> <a href="#" class="">Clutch Handbags</a> </li>
              <li> <a href="#l" class="">Diaper Bags</a> </li>
              <li> <a href="#" class="">Bags</a> </li>
              <li> <a href="#" class="">Hobo handbags</a> </li>
            </ul>
          </li>
          <li> <a href="#">Material Bag</a>
            <ul>
              <li> <a href="#">Beaded Handbags</a> </li>
              <li> <a href="#">Fabric Handbags</a> </li>
              <li> <a href="#">Handbags</a> </li>
              <li> <a href="#">Leather Handbags</a> </li>
            </ul>
          </li>
          <li> <a href="#">Shoes</a>
            <ul>
              <li> <a href="#">Flat Shoes</a> </li>
              <li> <a href="#">Flat Sandals</a> </li>
              <li> <a href="#">Boots</a> </li>
              <li> <a href="#">Heels</a> </li>
            </ul>
          </li>
          <li> <a href="#">Jwellery</a>
            <ul>
              <li> <a href="#">Bracelets</a> </li>
              <li> <a href="#">Necklaces &amp; Pendent</a> </li>
              <li> <a href="#l">Pendants</a> </li>
              <li> <a href="#">Pins &amp; Brooches</a> </li>
            </ul>
          </li>
          <li> <a href="#">Dresses</a>
            <ul>
              <li> <a href="#">Casual Dresses</a> </li>
              <li> <a href="#">Evening</a> </li>
              <li> <a href="#">Designer</a> </li>
              <li> <a href="#">Party</a> </li>
            </ul>
          </li>
          <li> <a href="#">Swimwear</a>
            <ul>
              <li> <a href="#">Swimsuits</a> </li>
              <li> <a href="#">Beach Clothing</a> </li>
              <li> <a href="#">Clothing</a> </li>
              <li> <a href="#">Bikinis</a> </li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="#">Men</a>
        <ul>
          <li> <a href="#" class="">Shoes</a>
            <ul class="level1">
              <li class="level2 nav-6-1-1"><a href="#">Sport Shoes</a> </li>
              <li class="level2 nav-6-1-1"><a href="#">Casual Shoes</a> </li>
              <li class="level2 nav-6-1-1"><a href="#">Leather Shoes</a> </li>
              <li class="level2 nav-6-1-1"><a href="#">canvas shoes</a> </li>
            </ul>
          </li>
          <li> <a href="#">Dresses</a>
            <ul class="level1">
              <li class="level2 nav-6-1-1"><a href="#">Casual Dresses</a> </li>
              <li class="level2 nav-6-1-1"><a href="#">Evening</a> </li>
              <li class="level2 nav-6-1-1"><a href="#">Designer</a> </li>
              <li class="level2 nav-6-1-1"><a href="#">Party</a> </li>
            </ul>
          </li>
          <li> <a href="#">Jackets</a>
            <ul class="level1">
              <li class="level2 nav-6-1-1"><a href="#">Coats</a> </li>
              <li class="level2 nav-6-1-1"><a href="#">Formal Jackets</a> </li>
              <li class="level2 nav-6-1-1"><a href="#">Leather Jackets</a> </li>
              <li class="level2 nav-6-1-1"><a href="#">Blazers</a> </li>
            </ul>
          </li>
          <li> <a href="#">Watches</a>
            <ul class="level1">
              <li class="level2 nav-6-1-1"><a href="#">Fasttrack</a> </li>
              <li class="level2 nav-6-1-1"><a href="#">Casio</a> </li>
              <li class="level2 nav-6-1-1"><a href="#">Titan</a> </li>
              <li class="level2 nav-6-1-1"><a href="#">Tommy-Hilfiger</a> </li>
            </ul>
          </li>
          <li> <a href="#">Sunglasses</a>
            <ul class="level1">
              <li class="level2 nav-6-1-1"><a href="#">Ray Ban</a> </li>
              <li class="level2 nav-6-1-1"><a href="#">Fasttrack</a> </li>
              <li class="level2 nav-6-1-1"><a href="#">Police</a> </li>
              <li class="level2 nav-6-1-1"><a href="#">Oakley</a> </li>
            </ul>
          </li>
          <li> <a href="#">Accesories</a>
            <ul class="level1">
              <li class="level2 nav-6-1-1"><a href="#">Backpacks</a> </li>
              <li class="level2 nav-6-1-1"><a href="#">Wallets</a> </li>
              <li class="level2 nav-6-1-1"><a href="#">Laptops Bags</a> </li>
              <li class="level2 nav-6-1-1"><a href="#">Belts</a> </li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="{% url 'contact_us' %}">Contact Us</a> </li>
    </ul>
    <div class="dropdown block-language-wrapper">
      <ul>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img src="{% static 'images/english.png' %}"
              alt="language"> English </a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img src="{% static 'images/francais.png' %}"
              alt="language"> French </a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img src="{% static 'images/german.png' %}"
              alt="language"> German </a></li>
      </ul>
    </div>
    <div class="dropdown block-currency-wrapper">
      <ul>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> $ - Dollar </a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> £ - Pound </a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> € - Euro </a></li>
      </ul>
    </div>
  </div>
  {% endblock %}


  {% block js %}
  <script type="text/javascript" src="{% static 'js/parallax.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/slider.js' %}"></script>
  {% endblock %}


</body>

</html>